{% extends 'main/index.html' %}
{% load static i18n %}

{% block styles %}

    <!--  services  -->
  <link href="{% static 'css/services.css' %}" rel="stylesheet" />
  <link href="{% static 'css/prices.css' %}" rel="stylesheet" />
  <link href="{% static 'css/main.css' %}" rel="stylesheet" />
  <link href="{% static 'css/clinic.css' %}" rel="stylesheet" />
  <link href="{% static 'css/labs.css' %}" rel="stylesheet" />
  <link href="{% static 'css/specialist.css' %}" rel="stylesheet" />

{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="departments">
            {% if first %}
              <a href="{% url 'specialists' %}" class="department{% if active == 'all' %} active{% endif %}">{{ first.name }}</a>
            {% endif %}
            {% for role in roles %}
              <a href="?role={{ role.id }}" class="department{% if active == role.id %} active{% endif %}">{{ role.name }}</a>
            {% endfor %}
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="head-department">
            <h1 class="department-title">Руководство</h1>
            <div class="department-text">
              <p>Vestibulum urna quis, augue molestie ipsum pellentesque ut. Nunc adipiscing pulvinar vel sed amet dapibus justo sodales eleifend accumsan amet, velit odio. Platea hac vulputate pulvinar ornare vitae aenean elit. Mauris dapibus faucibus. Molestie hac hac adipiscing in venenatis malesuada est. Ultricies. Justo vulputate malesuada id ut. Ex. Integer sit id vitae elit. Efficitur tempus libero, augue mattis et sit vitae vitae amet, leo, amet, in et.</p>  
              <br>
                <p>Dolor nulla accumsan non amet, arcu in nisi risus imperdiet cras amet sit hac elit. Aenean vestibulum ut. Augue sed orci, ipsum leo, cursus vel morbi vitae in vel malesuada vestibulum orci, non dapibus faucibus. Dictum. Risus vulputate dui integer ut. Amet, ultricies. Velit nisi hac amet ornare eleifend risus elit. Ornare ornare mattis sit odio. Leo, lectus sit vel risus mauris nec urna lacinia et. Faucibus. Et. Vel nunc libero, mauris odio.</p>

            </div>
        </div>


        <div class="swiper-container doctor-container">
            <div class="container">
              <!-- Slider main container -->
              <div class="swiper swiper5">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
      
                  <div class="swiper-slide background-slide">
                  
                 
                </div>
                
                <div class="swiper-slide background-slide">
                  
                 
                </div>
                <div class="swiper-slide background-slide">
                  
                 
                </div>
      
              </div>
              
              </div>
             
      
                <!-- If we need pagination -->
                <div class="swiper-pagination swiper-pagination5"></div>
                
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev swiper-button-prev5"></div>
                <div class="swiper-button-next swiper-button-next5"></div>
               
            </div>
            
          </div>
          <div class="all-doctors">Все врачи</div>
    </div>
</section>


<section>
    <div class="container">
        <div class="hub-department">
            <h1 class="department-title-hub">УЗИ</h1>
            <div class="department-text-hub">
              <p>Vestibulum urna quis, augue molestie ipsum pellentesque ut. Nunc adipiscing pulvinar vel sed amet dapibus justo sodales eleifend accumsan amet, velit odio. Platea hac vulputate pulvinar ornare vitae aenean elit. Mauris dapibus faucibus. Molestie hac hac adipiscing in venenatis malesuada est. Ultricies. Justo vulputate malesuada id ut. Ex. Integer sit id vitae elit. Efficitur tempus libero, augue mattis et sit vitae vitae amet, leo, amet, in et.</p>  
              <br>
                <p>Dolor nulla accumsan non amet, arcu in nisi risus imperdiet cras amet sit hac elit. Aenean vestibulum ut. Augue sed orci, ipsum leo, cursus vel morbi vitae in vel malesuada vestibulum orci, non dapibus faucibus. Dictum. Risus vulputate dui integer ut. Amet, ultricies. Velit nisi hac amet ornare eleifend risus elit. Ornare ornare mattis sit odio. Leo, lectus sit vel risus mauris nec urna lacinia et. Faucibus. Et. Vel nunc libero, mauris odio.</p>

            </div>
        </div>


        <div class="swiper-container doctor-container">
            <div class="container">
              <!-- Slider main container -->
              <div class="swiper swiper6">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
      
                  <div class="swiper-slide background-slide">
                  
                 
                </div>
                
                <div class="swiper-slide background-slide">
                  
                 
                </div>
                <div class="swiper-slide background-slide">
                  
                 
                </div>
      
              </div>
              
              </div>
             
      
                <!-- If we need pagination -->
                <div class="swiper-pagination swiper-pagination6"></div>
                
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev swiper-button-prev6"></div>
                <div class="swiper-button-next swiper-button-next6"></div>
               
            </div>
            
          </div>
          <div class="all-doctors">Все врачи</div>
    </div>
</section>

{% endblock %}

