{% load i18n static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Health - Medical Website</title>
    {% endblock %}
    <!-- Fonts and icons -->
    {% comment %} <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" /> {% endcomment %}
    <!-- base core CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    <!--  header CSS -->
    <link href="{% static 'css/header.css' %}" rel="stylesheet" />
    <!--  footer CSS -->
    <link href="{% static 'css/footer.css' %}" rel="stylesheet" />
    <!--  main CSS -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <!--  responsive CSS -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
    
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/brands.min.css"
      integrity="sha512-bSncow0ApIhONbz+pNI52n0trz5fMWbgteHsonaPk42JbunIeM9ee+zTYAUP1eLPky5wP0XZ7MSLAPxKkwnlzw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
      {% block styles %} {% endblock %}
  </head>
  <body>
    <div class="background-color">
      <header>
        <div class="container">
          <div class="main-menu">
            <div class="left-side">
              <a href="/" 
                ><img class="logo" src="{% static 'images/logo.png' %}" alt="" />
              </a>
      
              <ul class="menu-list">
                <li> <a href="/">Главная</a></li>
                <li> <a href="/clinic">Клиника</a></li>
                <li> <a href="/prices">Цены</a></li>
                <li> <a href="/labs">Лабаратории</a></li>
                <li> <a href="/services">Услуги</a></li>
                <li> <a href="/specialists">Спецеалисты / отделение</a></li>
              </ul>
            </div>
            <div class="right-side">
              <ul class="phone-menu">
                <li><a href="tel:0551 065 065">0551 065 065</a></li>
                <li><a href="tel:0700 065 065">0700 065 065</a></li>
                <li><a href="tel:0777 065 065">0777 065 065</a></li>
              </ul>
              <button class="result-btn" id="result-btn">Результаты анализов</button>
            </div>
            <div class="hamburger" id="burger-menu"></div>
          </div>
        </div>
      </header>
      {% block index %}{% endblock %}
      <div class="phone-call">
        <a href="#">
          <img src="{% static '/svg/phone.svg' %}" width="50" alt="Call Now" title="Call Now">
          </a>
        <a href="https://t.me/+996777065065" class="phone">
          <img src="{% static '/svg/telegram.svg' %}" alt="phone-call" />
        </a>
        <a href="https://api.whatsapp.com/send?phone=996777065065" class="phone">
          <img src="{% static '/svg/wp.svg' %}" alt="phone-call" />
        </a>
      </div>
      <div class="result__modal" id="result__modal">
        <div class="result__modal-content">
          <div class="result__modal-header">
            <h2>Результаты</h2>
            <span class="close" id="resultx-btn"></span>
          </div>
          <div class="result__modal-form">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            {% if result_form %}
                  <form action="/result" method="post">
                      {% csrf_token %}
                      {{ result_form }}
                      <button type="submit" class="submit_button">Получить результат</button>
                  </form>
              {% endif %}
          </div>
        </div>
      </div>
    </div>


   <!--   Core JS Files   -->
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script> 
  <script src="/static/javascript/main.js" type="text/javascript" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"
    integrity="sha512-yFjZbTYRCJodnuyGlsKamNE/LlEaEAxSUDe5+u61mV8zzqJVFOH7TnULE2/PP/l5vKWpUNnF4VGVkXh3MjgLsg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>

  {% block scripts %} {% endblock %}
</html>
