{% extends 'main/index.html' %} {% load static i18n %} {% block styles %}

<!--  services  -->
<link href="{% static 'css/services.css' %}" rel="stylesheet" />
<link href="{% static 'css/prices.css' %}" rel="stylesheet" />
<link href="{% static 'css/main.css' %}" rel="stylesheet" />
<link href="{% static 'css/clinic.css' %}" rel="stylesheet" />
<link href="{% static 'css/labs.css' %}" rel="stylesheet" />
<link href="{% static 'css/romajon.css' %}" rel="stylesheet" />

{% endblock %} {% block content %}
<section>
  <div class="container">
    <div class="hub-banner">
      <div class="hub-info">
        <h1 class="hub-banner-title">Современная лаборатория Диагностик</h1>
        <div class="hub-banner-text">
          <p>
            Лаборатория Клиники Диагностик позволяет проводить более 100+ видов исследований на современном оборудовании, отвечающем мировым стандартам, Опытные лаборанты сделают этот процесс легким и безболезненным. Получить результаты исследований можно не выходя из дома, авторизовавшись на сайте <a href="www.diagnostik.kg">www.diagnostik.kg</a> в разделе «Получить результаты анализов»
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="categories2">
      <a href="/services#our-work" class="serv active">Все</a>

      <a href="#our-work" class="serv">Клиническая лабаротория</a>
      <a href="#our-work" class="serv">Биохимическая лабаротория</a>
      <a href="#our-work" class="serv">Иммуноферментный анализ</a>
    </div>

    <div class="lab-cards">
      {% for analysis in analysises %}
      <div class="lab-card">
        <div class="hub-description">
          {% comment %}
          <div class="hub-img"></div>
          {% endcomment %}
          <div class="description-info">
            <div class="descript-top">
              {% comment %}
              <div class="description-text">
                <p>
                  В организме все гормоны взаимосвязаны, и по состоянию одних
                  гормонов нередко можно увидеть состояние других. В женском
                  здоровье особенную роль играет репродуктивная панель. В
                  зависимости от проблемы, с которой женщина обращается к
                  специалисту, врач может назначить анализ крови на гормоны,
                  чтобы подтвердить или опровергнуть предварительный анализ.
                  Исследования на гормоны могут быть назначены, например, в
                  следующих случаях: • нарушения в развитии тех или иных
                  органов; • диагностика беременности; • бесплодие; •
                  беременность с угрозой выкидыша; • нарушения обмена веществ;
                </p>
                <br />
                <p>
                  c. Luctus vestibulum vel in molestie velit sit in in imperdiet
                  quis, morbi integer eleifend venenatis nulla lorem ve.
                </p>
              </div>
              {% endcomment %}
            </div>
            <div class="price-list">
              <h1 class="description-title">{{ analysis.name }}</h1>
              <div class="result-price">{{ analysis.price }} сом</div>
              <button class="appointment-btn btn-red-60">Записатся</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
