{% load i18n static %}
<!-- HEADER -->
<header>
  <div class="container">
    <div class="main-menu">
      <div class="left-side">
        <a href="/" 
          ><img class="logo" src="{% static 'images/logo.png' %}" alt="" />
        </a>

        <ul class="menu-list">
          <li><a href="/">Главная</a></li>
          <li> <a href="/clinic">Клиника</a></li>
          <li> <a href="/prices">Цены</a></li>
          <li> <a href="/labs">Лабаратории</a></li>
          <li> <a href="/services">Услуги</a></li>
          <li> <a href="/specialists">Спецеалисты / отделение</a></li>
        </ul>
      </div>
      <div class="right-side">
        <ul class="phone-menu">
          <li>+996 700 600 600</li>
          <li>+996 700 600 600</li>
        </ul>
        <button class="result-btn">Результаты анализов</button>
      </div>
      <div class="hamburger"></div>
    </div>
  </div>
</header>
