{% load i18n static %}
<!-- HEADER -->
<header>
  <div class="container">
    <div class="main-menu">
      <div class="left-side">
        <a href="index.html" 
          ><img class="logo" src="{% static 'images/logo.png' %}" alt="" />
        </a>

        <ul class="menu-list">
          <li>Главная</li>
          <li>Клиника</li>
          <li>Цены</li>
          <li>Лабаратории</li>
          <li>Услуги</li>
          <li>Спецеалисты / отделение</li>
        </ul>
      </div>
      <div class="right-side">
        <ul class="phone-menu">
          <li>+996 700 600 600</li>
          <li>+996 700 600 600</li>
        </ul>
        <button class="result-btn">Результаты анализов</button>
      </div>
      <div class="hamburger"></div>
    </div>
  </div>
</header>
