{% extends 'base.html' %}
{% load static i18n %}



{% block index %}
{% block header %}
{% include 'components/header.html' %}
{% endblock %}
{% block content %}
<main>
    <div class="background-color">
        <div class="container">
          <div class="banner-caption">
            <div class="banenr-img">
              <div class="banner-info">
                <h1 class="banner-title">
                  Nunc et. Vel molestie molestie leo, dolor amet.
                </h1>
                <p class="banner-text">Lorem dictum. Nunc justo in non accumsan et ex. Dictum. Vulputate non et mattis in
                  hac malesuada nisi venenatis molestie tortor, quis, accumsan ex. Quam, mattis nec morbi ut. Molestie
                  velit efficitur dictum ultricies.</p>
                <button class="appointment-btn">Записатся
                </button>
  
              </div>
  
            </div>
  
          </div>
        </div>
        <div class="container">
          <div class="about-cards">
  
            <div class="card">
              <h2 class="count">24</h1>
                <p class="description">Отделения</p>
            </div>
  
  
            <div class="card">
              <h2 class="count">37</h1>
                <p class="description">Видов исследований</p>
            </div>
  
  
            <div class="card">
              <h2 class="count">86</h1>
                <p class="description">Специалиста</p>
            </div>
  
  
            <div class="card">
              <h2 class="count">63</h1>
                <p class="description">Видов исследований</p>
            </div>
  
  
            <div class="card">
              <h2 class="count">11</h1>
                <p class="description">Видов исследований</p>
            </div>
  
  
          </div>
        </div>
    </div>
    <section class="about-banner">
      <div class="container">
        <div class="banner-caption">
          <div class="banner-img-2">
            <div class="banner-info-2">
              <h1 class="banner-title-2">
                О компании
              </h1>
              <p class="banner-text-2">Aenean in est. Et vel dapibus luctus molestie hac ut. Molestie adipiscing sit
                molestie dui sit nunc mollis in eleifend mauris nisi arcu dictumst. Non urna sodales nunc augue vitae sed
                mattis ornare sapien velit nulla sed imperdiet vestibulum cursus hac ut. Morbi tortor, et ultricies.
                Imperdiet est. Accumsan hac arcu justo justo venenatis dapibus quis, tortor, dolor nulla dictu. <br>
                <br>
                Ornare ex. Luctus vestibulum vel in molestie velit sit in in imperdiet quis, morbi integer eleifend
                venenatis nulla lorem ve.</p>
  
  
            </div>
  
          </div>
  
        </div>
      </div>
    </section>
    <div class="background-color">
      <section class="inform-cards worker-slider">
  
        <div class="container">
          <div class="information-boxes">
  
            <div class="info-box">
              <img src="./src/images/stretcher (1) 1.png" alt="">
              <h2>Современное оборудование</h2>
              <p>Vulputate faucibus. Cursus nec efficitur accumsan accumsan molestie ut. Malesuada
                non vitae odio.
                Elit. Non interdum dolor sit sit arcu justo ipsum efficitur mattis est. Dolor
                vestibulum nulla
                faucibus. Nun.</p>
            </div>
  
            <div class="info-box">
              <img src="./src/images/stretcher (1) 1.png" alt="">
              <h2>Современное оборудование</h2>
              <p>Vulputate faucibus. Cursus nec efficitur accumsan accumsan molestie ut. Malesuada
                non vitae odio.
                Elit. Non interdum dolor sit sit arcu justo ipsum efficitur mattis est. Dolor
                vestibulum nulla
                faucibus. Nun.</p>
            </div>
  
            <div class="info-box">
              <img src="./src/images/stretcher (1) 1.png" alt="">
              <h2>Современное оборудование</h2>
              <p>Vulputate faucibus. Cursus nec efficitur accumsan accumsan molestie ut. Malesuada
                non vitae odio.
                Elit. Non interdum dolor sit sit arcu justo ipsum efficitur mattis est. Dolor
                vestibulum nulla
                faucibus. Nun.</p>
            </div>
  
            <div class="info-box">
              <img src="./src/images/stretcher (1) 1.png" alt="">
              <h2>Современное оборудование</h2>
              <p>Vulputate faucibus. Cursus nec efficitur accumsan accumsan molestie ut. Malesuada
                non vitae odio.
                Elit. Non interdum dolor sit sit arcu justo ipsum efficitur mattis est. Dolor
                vestibulum nulla
                faucibus. Nun.</p>
            </div>
  
            <div class="info-box">
              <img src="./src/images/stretcher (1) 1.png" alt="">
              <h2>Современное оборудование</h2>
              <p>Vulputate faucibus. Cursus nec efficitur accumsan accumsan molestie ut. Malesuada
                non vitae odio.
                Elit. Non interdum dolor sit sit arcu justo ipsum efficitur mattis est. Dolor
                vestibulum nulla
                faucibus. Nun.</p>
            </div>
  
            <div class="info-box">
              <img src="./src/images/stretcher (1) 1.png" alt="">
              <h2>Современное оборудование</h2>
              <p>Vulputate faucibus. Cursus nec efficitur accumsan accumsan molestie ut. Malesuada
                non vitae odio.
                Elit. Non interdum dolor sit sit arcu justo ipsum efficitur mattis est. Dolor
                vestibulum nulla
                faucibus. Nun.</p>
            </div>
  
          </div>
        </div>
  
      </section>
    </div>
    </main>

{% endblock %}

    Hello {{ name }}
    {% for story in list %}

        {{ story.id}}
        <h2>
            {{ story.title|upper }}
        </h2>
        <p>{{ story.done }}</p>

    {% endfor %}


{% block footer %}
{% include 'components/footer.html' %}
{% endblock %}

{% endblock %}