* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Proxima Nova";
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.background-color {
  background-color: #f9f9f9;
}
.background-color-lightRed{
    background-color: #F89191;
    height: auto;
    padding:60px 0;
}

.swiper-container {
  max-width: calc(1440px + 130px);
  height: calc(100vh - 287px);
  margin: 0 auto;
  position: relative;
}
.swiper-container.doctor-container{
height: auto !important;
}