.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;


  background-color: #f9f9f9;
  min-height: 100px;
}

.left-side {
  display: flex;
}

.menu-logo img {
  width: 60px;
  height: 60px;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 34px;
  margin-left: 30px;
  width: 100%;
}

.menu-list.active{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.954);
  z-index: 100;
  margin: 0;
}

#close_btn {
  width: 40px;
  height: 40px;
  margin: 30px;
  align-self: flex-end;
}
.menu-list li {
  cursor: pointer;

}
.menu-list a{
  color: black;
  font-size: 18px;
}

.menu-list li:hover {
  text-decoration: underline;
  color: rgb(54, 54, 54);
}

.right-side {
  display: flex;
  justify-content: space-between;
}

.phone-menu {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

.phone-menu li {
  cursor: pointer;
}

.phone-menu a {
  color: #000;
  text-decoration: none;
}

.phone-menu li:hover {
  text-decoration: underline;
  color: rgb(54, 54, 54);
}

.result-btn {
  padding: 0 20px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #e6215f;
  border: none;
  outline: none;
  border-radius: 32px;
  cursor: pointer;
}

.result-btn:hover {
  cursor: pointer;
  background: transparent;
  border: 2px solid #e6215f;
  color: #e6215f;
}

.hamburger {
  width: 24px;
  height: 16px;
  display: none;
  background-image: url(../svg/burger.svg);
}