@media (min-width: 0px) and (max-width: 576px) {
  .container {
    max-width: 95%;
  }
  .phone-menu {
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    height: 46px;
  }
  .menu-list,
  .phone-menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .information-boxes {
    max-width: 458px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .phone-menu {
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    height: 46px;
  }
  .menu-list,
  .phone-menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .information-boxes {
    max-width: 458px;
  }
  .about-cards {
    row-gap: 20px;
  }
  .card:first-child {
    width: 100%;
  }
  .card {
    width: 260px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .menu-list,
  .phone-menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .information-boxes {
    max-width: 458px;
  }
  .card {
    width: 130px;
  }
  .banner-info {
    padding: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .phone-menu {
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    height: 46px;
  }
  .menu-list {
    margin-left: 20px;
    gap: 15px;
  }
  .result-btn {
    width: 155px;
  }
  .info-box {
    width: 404px;
    height: 404px;
  }
  .card {
    width: 180px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .container {
    max-width: 1140px;
  }
  .menu-list {
    gap: 20px;
  }
  .phone-menu {
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    height: 46px;
  }
  .card {
    width: 210px;
  }
  .info-box {
    width: 300px;
    height: 300px;
  }
}
