@font-face {
  font-family: 'Proxima Nova Light';
  src: url('ProximaNova-Light.eot');
  src: url('ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Light.woff') format('woff'),
    url('ProximaNova-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

body {
  background: #f9f9f9;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  width: 1615px;
  margin: 0 auto;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: red;
}

.navbar-default {
  background: #f9f9f9 !important;
}

