@font-face {
  font-family: 'Proxima Nova Light';
  src: url('ProximaNova-Light.eot');
  src: url('ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('ProximaNova-Light.woff') format('woff'),
    url('ProximaNova-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

body {
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  max-width: 100%;
  margin: 0 auto;
}




h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: inherit;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 1px;
}

h5 {
  font-weight: 500;
}

h1 {
  color: #252525;
  font-size: 5em;
}

h2 {
  color: #272727;
  font-size: 3em;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.8em;
  line-height: 1.2em;
  margin-bottom: 0;
}

h4 {
  color: #454545;
  font-size: 1.8em;
  padding-bottom: 2px;
}

h6 {
  letter-spacing: 0;
  font-weight: normal;
}

p {
  color: #806D6D;
  font-size: 14px;
  font-weight: 600;
  line-height: 29px;
  font-family: 'Proxima Nova Light';
}


/*---------------------------------------
     GENERAL               
  -----------------------------------------*/

html {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

a {
  color: #252525;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover,
a:active,
a:focus {
  color: red;
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: red;
}

.section-title {
  padding-bottom: 20px;
}

.section-title h2 {
  margin-top: 0;
}

.logo {
  margin: 8px;
}

.section-btn {
  background: red;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 450;
  padding: 10px 20px;
  transition: transform 0.1s ease-in;
  position: relative;
  top: 46px;
  right: 192px;
  transform: translateX(0);
  width: 210px;
  height: 46px;
  border-radius: 16px;
}

.section-btn:hover {
  transform: translateY(-5px);
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.border-top {
  border-top: 1px solid #f2f2f2;
  margin-top: 4em;
  padding-top: 2.5em;
}

.btn-gray {
  background: #393939;
}

.btn-blue {
  background: #4267b2;
}

.news-thumb {
  background: #ffffff;
  border-radius: 10px;
}

.news-thumb img {
  border-radius: 32px;
  border: 1px solid #ffa4a4;
}

.news-info {
  padding: 30px;
  text-align: left;
}

.news-info span {
  display: block;
  letter-spacing: 0.5px;
}

.news-info h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.author {
  border-top: 1kpx solid #f0f0f0;
  padding-top: 1.5em;
  margin-top: 2em;
}

.author img,
.author .author-info {
  display: inline-block;
  vertical-align: top;
}

.author-info h5 {
  margin-bottom: 0;
}

.author img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}


#team,
#news,
#news-detail {
  position: relative;
  padding-bottom: 100px;
  margin-top: 85px;
}

#news,
#service {
  text-align: center;
}

#google-map {
  line-height: 0;
  margin: 0;
  padding: 0;
}


/*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 3px;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 1px solid #575757;
  border-top-color: #ffffff;
  animation: spinner .9s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}



/*---------------------------------------
      MENU              
  -----------------------------------------*/

header {
  background: #ffffff;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  height: 45px;
}

header .col-md-8 {
  padding-right: 0;
}

header p,
header span {
  font-size: 12px;
  line-height: 24px;
  padding-top: 12px;
}

header a,
header span {
  color: #747474;
}

header span {
  font-weight: 500;
  display: inline-block;
  padding: 11px 15px;
}

header span.date-icon {
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  padding-right: 19px;
  padding-left: 19px;
}

header span i {
  color: #a5c422;
  margin-right: 5px;
}



/*---------------------------------------
      MENU              
  -----------------------------------------*/

.navbar-default {
  background: #ffffff;
  border: none;
  margin-bottom: 0;
  padding: 10px;
  border-radius: 10px;
}

.navbar-default .navbar-brand {
  color: #393939;
  font-weight: 500;
}

.navbar-default .navbar-brand .fa {
  color: #a5c422;
}

.navbar-default .navbar-nav li.appointment-btn {
  margin: 3px 0 0 20px;
}

.navbar-default .navbar-nav li.appointment-btn a {
  background: #F84B4C;
  border-radius: 30px;
  color: #ffffff;
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-default .navbar-nav li.appointment-btn a:hover {
  background: transparent;
  border: 2px solid #F84B4C;

}

.navbar-default .navbar-nav li a {
  color: #555555;
  font-size: 12px;
  font-weight: 700;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.navbar-default .navbar-nav>li a:hover {
  color: #393939 !important;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #555555;
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #393939;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border: none;
  padding-top: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #393939;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}



/*---------------------------------------
      HOME              
  -----------------------------------------*/

#home h1 {
  color: black;
  padding-bottom: 10px;
  margin-top: 0;
  font-size: 55px;
  text-align: left;
  font-family: 'Proxima Nova Light';
}

#home h3 {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  line-height: inherit;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
}

.slider .container {
  width: 100%;
}

.slider .owl-dots {
  position: absolute;
  top: 575px;
  width: 100%;
  justify-content: center;
}

.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  border: 2px solid red;
  background: transparent;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 4px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: rgb(246, 37, 37);
  border-color: red;
  padding: 3px;
}

.slider .caption {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(10deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%);
  height: 100%;
  color: #fff;
  cursor: e-resize;
}

.slider .item {
  background-position: inherit;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  height: 650px;
  border-radius: 32px;
}

.slider .item-first {
  background-image: url(../assests/images/Prototype/Home-page/Prototype/Home-page/Desktop/healthcare-and-medical-concept-medicine-doctor-with-stethoscope-in-hand-and-patients-come\ 1.png);
}

.slider .item-second {
  background-image: url(../assests/images/Prototype/Home-page/Prototype/Home-page/Desktop/healthcare-and-medical-concept-medicine-doctor-with-stethoscope-in-hand-and-patients-come\ 1.png);
}

.slider .item-third {
  background-image: url(../assests/images/Prototype/Home-page/Prototype/Home-page/Desktop/healthcare-and-medical-concept-medicine-doctor-with-stethoscope-in-hand-and-patients-come\ 1.png);
}


/*---------------------------------------
      ABOUT              
  -----------------------------------------*/

#about {
  background: url('../assests/images/Prototype/Home-page/Prototype/Home-page/Desktop/About-us/Second\ banner.png') no-repeat top center;
  background-size: cover;
  border-radius: 32px;
  height: 610px;
  width: 98%;
  margin: 0 auto;
}

.profile img,
.profile figcaption {
  display: inline-block;
  vertical-align: top;
  margin-top: 1em;
}

.profile img {
  border-radius: 100%;
  width: 65px;
  height: 65px;
  margin-right: 1em;
}

.profile figcaption h3 {
  margin-top: 0;
}

#about h6 {
  color: #858585;
  margin: 0;
}



/*---------------------------------------
      TEAM MEMBERS              
  -----------------------------------------*/

.team-thumb {
  background-color: #f9f9f9;
  border-radius: 32px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.team-info {
  padding: 20px 30px 0 30px;
}

.team-contact-info {
  border-top: 1px solid #e9e9e9;
  padding-top: 1.2em;
  margin-top: 1.5em;
}

.team-contact-info .fa {
  margin-right: 5px;
  display: inline-block;
}

.team-contact-info p {
  margin-bottom: 2px;
}

.team-contact-info a {
  color: #757575;
}

.team-thumb .social-icon li {
  font-weight: 500;
}

.team-thumb .social-icon li a {
  background: #ffffff;
  border-radius: 100%;
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 2px 0 2px;
}

.team-thumb .social-icon {
  opacity: 0;
  transform: translateY(100%);
  transition: 0.5s 0.2s;
  text-align: center;
  position: relative;
  top: 0;
}

.team-thumb:hover .social-icon {
  opacity: 1;
  transition-delay: 0.3s;
  transform: translateY(0px);
  top: -22em;
}



/*---------------------------------------
     SERVICE              
  -----------------------------------------*/

#service {
  background: #a5c422;
}

#service h2,
#service h4 {
  color: #ffffff;
}

#service p {
  color: #d9d9d9;
}

#service .service-thumb {
  padding: 0 22px;
}

#service .fa {
  font-size: 50px;
  margin-bottom: 10px;
  background: #ffffff;
  color: #a5c422;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 100%;
}


/*---------------------------------------
      NEWS             
  -----------------------------------------*/

#news-detail {
  background: #f9f9f9;
}

#news-detail blockquote {
  margin: 30px 0;
}

.news-detail-thumb .news-image img {
  border-radius: 10px;
}

.news-detail-thumb h3 {
  margin-bottom: 8px;
}

.news-image {
  margin-bottom: 30px;
  position: relative;
}

.news-image img {
  width: 100%;
}

.news-detail-thumb ul {
  margin: 32px 12px 22px 0px;
}

.news-detail-thumb ul li {
  list-style: circle;
  font-weight: normal;
  padding: 6px 12px 6px 0px;
}

.news-sidebar {
  margin-top: 16px;
}

.news-social-share {
  text-align: center;
  padding-top: 22px;
}

.news-social-share .btn {
  border-radius: 100px;
  border: none;
  font-size: 10px;
  font-weight: 600;
  margin: 2px 6px;
  padding: 8px 14px;
}

.news-social-share .btn-primary {
  background: #3b5998;
}

.news-social-share .btn-success {
  background: #1da1f2;
}

.news-social-share .btn-danger {
  background: #dd4b39;
}

.news-social-share a .fa {
  padding-right: 4px;
}

.recent-post {
  padding-top: 2px;
  padding-bottom: 18px;
}

.recent-post .media img {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-right: 5px;
}

.recent-post .media-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
  margin-top: 5px;
}

.news-categories {
  margin-top: 8px;
}

.news-categories li a {
  color: #2b2b2b;
}

.news-ads {
  background: #ffffff;
  border-right: 4px solid #2b2b2b;
  padding: 42px;
  text-align: center;
  margin: 26px 0 26px 0;
}

.news-ads.sidebar-ads {
  border-left: 4px solid #2b2b2b;
  border-right: 0px;
}

.news-ads h4 {
  font-size: 18px;
}

.news-tags h4 {
  padding-bottom: 6px;
}

.news-categories li,
.news-tags li {
  list-style: none;
  display: inline-block;
  margin: 4px;
}

.news-tags li a {
  background: #393939;
  border-radius: 50px;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  float: left;
  min-width: 30px;
  padding: 6px 12px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.news-tags li a:hover {
  background: #4267b2;
}



/*---------------------------------------
      APPOINTMENT             
  -----------------------------------------*/



#appointment label {
  color: #393939;
  font-weight: 500;
}

#appointment .form-control {
  background: #f9f9f9;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 15px;
  transition: all ease-in-out 0.4s;
  width: 100%;
}

#appointment input,
#appointment select {
  height: 45px;
}

#appointment button#cf-submit {
  background: #F84B4C;
  color: #ffffff;
  font-weight: 600;
  height: 55px;
}

#appointment button#cf-submit:hover {
  background: transparent;
  color: #2e2525;
  border: 2px solid #F84B4C;
}


/*---------------------------------------
     FOOTER              
  -----------------------------------------*/

footer {
  padding-top: 80px;
  padding-bottom: 40px;
}

footer h4 {
  padding-bottom: 5px;
}

footer a {
  color: #757575;
}

footer a:hover {
  color: red;
}

.contact-info {
  padding-top: 10px;
}

.contact-info .fa {
  border-radius: 100%;
  color: #ffffff;
  font-size: 15px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 2px;
}

.latest-stories {
  margin-bottom: 20px;
}

.stories-image,
.stories-info {
  display: inline-block;
  vertical-align: top;
}

.stories-image img {
  border-radius: 100%;
  width: 65px;
  height: 65px;
}

.stories-info {
  margin-left: 15px;
}

.stories-info h5 {
  margin-bottom: 2px;
}

.stories-info span {
  color: #858585;
  font-size: 12px;
}

.opening-hours p {
  line-height: 18px;
}

.opening-hours span {
  font-weight: 500;
  display: inline-block;
  padding-left: 10px;
}

.copyright-text p,
.footer-link a {
  color: #858585;
  font-size: 12px;
  font-weight: 500;
}

.footer-link a {
  font-size: 12px;
  display: inline-block;
  padding: 0 10px;
  margin-top: 4px;
}

.angle-up-btn {
  position: relative;
  bottom: 4em;
  display: block;
}

.angle-up-btn a {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  font-size: 20px;
  color: #393939;
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 38px;
  transition: transform 0.1s ease-in;
  transform: translateX(0);
}

.angle-up-btn a:hover {
  background: #4267b2;
  color: #ffffff;
  transform: translateY(-5px);
}


/*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  border-radius: 100px;
  color: #464646;
  font-size: 15px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
  transition: all 0.4s ease-in-out;
  position: relative;
}

.social-icon li a:hover {
  background: red;
  color: #ffffff;
}

.flex-box {
  width: 100%;
  margin: 0 auto;

}

/*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.5em;
  }

  header {
    height: inherit;
  }

  header span.date-icon {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }

  header span.email-icon {
    padding-top: 0;
  }

  .navbar-default .navbar-nav li a {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 992px) {
  .big-cards {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 9%;
    width: auto !important;
    padding: 40px 0%;

  }


  .navbar-default .navbar-nav li a {
    font-size: 9px;
  }

  .flex-box {
    max-width: 796px;
    margin: 0 auto;
  }

  .slider .item {
    background-position: center;
  }

  header {
    padding-bottom: 10px;
  }

  header .text-align-right {
    text-align: left;
  }

  header span {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 639px) and (max-width: 830px) {

  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent;
  }

  .big-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 -2%;
    width: 100% !important;
    padding: 40px 0%;
  }
}

.navbar-default .navbar-nav li.appointment-btn {
  margin-left: 15px;
}

.navbar-default .navbar-nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 8px;
}

.news-sidebar {
  margin-top: 2em;
}

#appointment-form {
  padding-top: 4em;
  padding-bottom: 4em;
}

footer {
  padding-top: 60px;
  padding-bottom: 0;
}

.footer-thumb {
  padding-bottom: 10px;
}

.border-top {
  text-align: center;
}

.copyright-text {
  margin-top: 10px;
}

.angle-up-btn {
  bottom: 10em;
}

@media only screen and (max-width: 521px) {
  h1 {
    font-size: 3em;
    line-height: 1.2em;
  }

  h2 {
    font-size: 2.1em;
  }

  h4 {
    font-size: 1.4em;
  }

  #home h3 {
    font-size: 11px;
    letter-spacing: 1px;
  }

  .feedback-card {
    width: 395px !important;
    margin: 2% 2% !important;
  }

  .big-cards {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 !important;
    width: auto !important;
    padding: 40px 0%;

  }

  .card {
    width: 360px !important;
    height: 150px !important;

  }

  .big-card {
    border-radius: 32px;
    border: 1px solid #FDC9C9;
    margin-top: 25px;
  }

  .big-card img {
    display: flex;
    align-items: center;
    margin: 0 auto !important;
  }

  .big-card h2 {
    font-size: 20px !important;
    text-align: center;
    margin-bottom: 5px !important;
  }

  .big-card p {
    text-align: center;
    color: #806D6D;
  }

  .owl-carousel .owl-item img {
    display: block;
    width: 93%;
  }

  .worker {
    margin: 0 -2.3%;
  }

  .worker-slider {
    max-width: 1615px;
    margin: 0 auto;
    width: 453px;
  }

  .flex-box {
    width: 100% !important;
  }

  .about-cardsP {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .read-more {
    margin: 17% 0 0 15% !important;
  }
}

@media only screen and (min-width: 522px) and (max-width:767px) {
  h1 {
    font-size: 3em;
    line-height: 1.2em;
  }

  h2 {
    font-size: 2.1em;
  }

  h4 {
    font-size: 1.4em;
  }

  #home h3 {
    font-size: 11px;
    letter-spacing: 1px;
  }



  .big-card img {
    display: flex;
    align-items: center;
    margin: 0 auto !important;
  }

  .big-card h2 {
    font-size: 20px !important;
    text-align: center;
    margin-bottom: 5px !important;
  }

  .big-card p {
    text-align: center;
    color: #806D6D;
  }

  .owl-carousel .owl-item img {
    display: block;
    width: 93%;
  }

  .worker {
    margin: 0 -2.3%;
  }

  .worker-slider {
    max-width: 1615px;
    margin: 0 auto;
    width: 453px;
  }

  .flex-box {
    width: 90% !important;

  }
}

.moved {

  position: relative;
  bottom: 29px;

}

.about-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 1%;

}



.slider-box {
  width: 580px;

}

.slider-text {
  text-align: left;
  color: rgb(91, 83, 83);
  font-weight: 500;
  font-size: 16px;
  font-family: 'Proxima Nova Light';
}

.card {
  width: 265px;
  height: 145px;
  border: 1px solid rgba(242, 38, 38, .6);
  text-align: center;
  border-radius: 32px;
  margin: 30px 0 50px 0;
}

.count {
  color: #ABA6A6;
  margin: 15px 0 5px 0;
  padding: 0;
}

.description {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.wrapper {
  background: linear-gradient(10deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
  height: 100%;
}

.about-info-1 {
  position: relative;
  top: 100px;
}

.big-cards {

  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 10px !important;
  width: auto !important;
  padding: 40px 0%;

}

@media only screen and (min-width: 825px) and (max-width: 1366px) {
  .big-card {
    border-radius: 32px;
    border: 1px solid #FDC9C9;
    margin-top: 25px;
    padding: 20px;
    margin-right: 20px;
  }


  .big-cards {
    /* display: flex; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto !important;
    width: 90% !important;
    padding: 40px 0%;

  }

  .flex.box {
    margin-left: 30px;
  }

  .about-cards {
    flex-wrap: wrap;

  }

  .card {
    margin: 2% auto;
  }
}

.big-card {
  width: auto;
  height: auto;
  border-radius: 32px;
  border: 1px solid #FDC9C9;
  margin-top: 25px;
  padding: 20px;
}

.big-card img {
  display: flex;
  align-items: center;
  margin: 0 auto !important;

}

.big-card h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.big-card p {
  text-align: center;
  color: #806D6D;
}

.team-doctors {
  border: 2px solid #FDC9C9;
  width: 430px;
  height: 500px;
  border-radius: 32px;
}

.team-text {
  max-width: 1122px;
  margin: 0 16%;
}

.team-text h2 {
  font-family: "Poppins" !important;
  font-weight: bold;
  font-size: 48px;
}

.worker {
  width: 400px;
  margin: 0 auto;
}

.worker-info {
  text-align: center;
}

.worker-img {
  margin: 45px 0 30px 0;
  border-radius: 33px;
}

.worker-slider {
  max-width: 1615px;
  margin: 0 auto;
}

#team-background {
  background-color: #F9F9F9;
  width: 1920px;
  margin: 0 -8%;
}

.background-bigcards {
  width: 1920px;
  background-color: #F9F9F9;
  margin: 0 -8%;
}

@media only screen and (min-width: 992px) and (max-width:1371px) {
  .big-card {
    width: 420px;
    height: 350px;
    border-radius: 32px;
    border: 1px solid #FDC9C9;
    margin-top: 25px;
    padding: 20px;
  }

  .slider .container {
    width: 100%;
    margin: 0 1.6%;
  }

  .flex-box {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 7%;
  }

  .row {
    width: 99% !important;
  }

  .big-cards {

    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto !important;
    width: 1615px;
    padding: 40px 0%;

  }

  .big-card img {
    margin: 0 41%;
  }
}

@media only screen and (min-width: 522px) and (max-width:596px) {
  .big-card {
    margin: 0 auto;
  }
}

.feedback-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1% 0 2% 0;
  width: 100%;
}

.feedback-card {
  width: 434px;
  height: 431px;
  border-radius: 16px;
  border: 1px solid #F84B4C;
  padding: 30px;
  margin: 1.5% auto;
}

.before-header {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #BFB6B6;
  text-align: right;
}

.person-name {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #220F0F;
}

.after-header {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  align-items: center;
  color: #BFB6B6;

}

.feedback {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  align-items: center;
  color: #806D6D;
}

.feedback-date {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #BFB6B6;
  text-align: right;
}

.read-more {
  width: 210px;
  height: 46px;
  border-radius: 16px;
  background-color: transparent;
  border: 1px solid #F84B4C;
  color: #F84B4C;
  margin: 20% 0 0 20%;
  font-weight: 500;
}

.read-more:hover {
  background-color: #F84B4C;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

.feedback-header {
  margin-left: 11%;
}

#btn-load-more {
  width: 272px;
  height: 46px;
  border-radius: 16px;
  border: 1px solid #F84B4C;
  color: #F84B4C;
  font-weight: bold;
  text-align: center;
  background-color: transparent;

}

#btn-load-more:hover {
  background-color: #F84B4C;
  cursor: pointer;
  color: white;

}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

#btn-close {
  width: 272px;
  height: 46px;
  border-radius: 16px;
  border: 1px solid #F84B4C;
  color: #F84B4C;
  font-weight: bold;
  text-align: center;
  background-color: transparent;


}

#btn-close:hover {
  background-color: #F84B4C;
  cursor: pointer;
  color: white;

}

#hidden {
  display: none;
}

.not-active {
  display: none;
}

.location {
  width: 431px;
  height: 180px;
  border: 1px solid #F84B4C;
  border-radius: 16px;
  font-family: 'Times New Roman', Times, serif;
  margin: 1%;
}

.working-hours,
.phone-contact {
  width: 160px;
  height: 60px;
  padding: 5% 1%;
  margin-left: 7.5%;
  line-height: 140%;
}

.pre-location,
.pre-time,
.pre-phone {

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  align-items: left;
  color: #ABA6A6;

}

.time,
.phones {
  font-weight: bold;
}

.table {
  display: flex;

}

.located {
  margin: 7% 0 0 9%;
}

.street {
  font-weight: bold;
}

#clinic-location {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.batken-loc {
  width: 120px;
  height: 30px;
  background-color: #F84B4C;
  color: #fff;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

.loc-wrapper {
  margin-left: 10%;
  margin: 3% 10%;
}

@media only screen and (max-width: 897px) {
  .location {
    width: 490px !important;
    height: 190px !important;
  }

}

.banner-serv {
  height: 483px;
  background: url(../images/Rectangle-8.png) no-repeat;
  margin: 63px auto;
  width: 99%;
  background-size: 100% 106%;
  border: 1px solid red;
  border-radius: 32px;
}

.banner-inner {
  width: 69%;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
}

.banner-title {
  font-family: 'Proxima Nova ';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  text-decoration-line: underline;
  color: #220F0F;
  text-align: left;

}

.banner-text-one,
.banner-text-two {
  font-family: 'Proxima Nova ';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;

  display: flex;
  align-items: center;
  color: #806D6D;
  margin: 1% 0;
}

.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 900px;
  margin: 0 11%;

}

#all-serv {
  width: 120px;
  height: 30px;
  background-color: #F84B4C;
  color: #fff;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 23px;
}

#first-serv,
#second-serv,
#third-serv,
#fourth-serv {
  width: 160px;
  height: 30px;
  background: transparent;
  border: 1px solid #F84B4C;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #F84B4C;
  flex-wrap: wrap;
  cursor: pointer;
}


#fourth-serv:hover {
  background-color: #F84B4C;
  color: white;
}

#third-serv:hover {
  background-color: #F84B4C;
  color: white;
}

#second-serv:hover {
  background-color: #F84B4C;
  color: white;
}

#first-serv:hover {
  background-color: #F84B4C;
  color: white;
}

.serv-cards {
  display: flex;
  flex-wrap: wrap;
  width: 86%;
  margin: 0 auto;
}

.serv-card {
  max-width: 400px;
  height: 305px;
  border: 1px solid #F84B4C;
  border-radius: 16px;
  margin: 2% auto;
}

.serv-heading {
  font-style: normal;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  font-family: PT Sans Caption;
  text-align: center;
  color: #220F0F;
  margin-top: 23px;

}

.serv-tx {
  font-family: PT Sans Caption;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #806D6D;
  padding: 23px;
}

.serv-btn {
  width: 210px;
  height: 46px;
  background-color: transparent;
  border: 1px solid #F84B4C;
  border-radius: 16px;
  color: #F84B4C;
  margin: 0 25%;
}

/*---------------------------------------
      MENU              
  -----------------------------------------*/

header {
  background: #ffffff;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  height: 45px;
}

header .col-md-8 {
  padding-right: 0;
}

header p,
header span {
  font-size: 12px;
  line-height: 24px;
  padding-top: 12px;
}

header a,
header span {
  color: #747474;
}

header span {
  font-weight: 500;
  display: inline-block;
  padding: 11px 15px;
}

header span.date-icon {
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  padding-right: 19px;
  padding-left: 19px;
}

header span i {
  color: #a5c422;
  margin-right: 5px;
}



/*---------------------------------------
        MENU              
    -----------------------------------------*/

.navbar-default {
  background: #ffffff;
  border: none;
  margin-bottom: 0;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
}

.navbar-default .navbar-brand {
  color: #393939;
  font-weight: 500;
}

.navbar-default .navbar-brand .fa {
  color: #a5c422;
}

.navbar-default .navbar-nav li.appointment-btn {
  margin: 3px 0 0 20px;
}

.navbar-default .navbar-nav li.appointment-btn a {
  background: #F84B4C;
  border-radius: 30px;
  color: #ffffff;
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-default .navbar-nav li.appointment-btn a:hover {
  background: transparent;
  border: 2px solid #F84B4C;

}

.navbar-default .navbar-nav li a {
  color: #555555;
  font-size: 12px;
  font-weight: 700;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.navbar-default .navbar-nav>li a:hover {
  color: #393939 !important;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #555555;
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #393939;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border: none;
  padding-top: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #393939;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.banner-services {
  margin: 0 4%;
}

.form-heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #220F0F;
  margin-top: 60px;
}

.form-main {
  margin: 4% auto;
  display: flex;
  justify-content: center;
  max-width: 950px;
}

.form-style {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  color: #220F0F;
  font-family: 'Proxima Nova Light';
  margin: 2%;
}

#fname,
#form-mail {
  width: 395px;
  height: 38px;
  border: 1px solid #F84B4C;
  border-radius: 16px;

}


#fname::placeholder {
  position: relative;
  left: 30px;
  font-family: 'Proxima Nova Light';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #BFB6B6;
}

#form-mail::placeholder {
  position: relative;
  left: 30px;
  font-family: 'Proxima Nova Light';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #BFB6B6;
}

.form-box-info {
  display: flex;
  justify-content: space-between;
  width: 750px;
}

.form-texr-area {
  margin: 0 auto;
}

#message {
  width: 856px;
  height: 138px;
  border: 1px solid #F84B4C;
  border-radius: 16px;
}

.form-mail {
  margin-left: 57px;
}


#choose-serv {
  width: 390px;
  height: 46px;
  border: 1px solid #F84B4C;
  border-radius: 16px;
  
}

select {
  font-family: 'Proxima Nova Light';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  padding: 10px;
  background-position: calc(100% - 3%) center;
  padding-right: 20px;
  background-color: #ffff;
}
.color-w{
  color: #fff !important;
}
.form-select {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.form-submit {
  width: 210px;
  height: 45px;
  border: 1px solid #F84B4C;
  border-radius: 16px;
  background-color: #F84B4C;
  color: #fff;

}

.form-btn {
  display: flex;
  justify-content: center;
}
.contact-info{
  width: 200px;
}
.contact-logo{
  display: flex;
}
.footer-bk-color{
  background-color: #F89191;
  min-width: 100%;
  color: #fff;
}
footer{
  color: #fff !important;
}
